.articleContent{
  position: relative;
  max-width: 845px;
  margin-bottom: 110px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #dedede;
  .shareButton{
    position: absolute;
    left: -50px;
    bottom:40%;
    font-size: 1.4em;
    font-weight: 300;
    color: $brandColorDark;
  }
  header{
    margin-bottom: 24px;
  }
  h1{/*MainTitle*/
    @include font("Montserrat", 600);
    font-size: calc(1.25rem + ((1vw - 3.2px) * 1.0714));
    /* Where: * 1.0714 = 100 * font_Size_Difference / viewport_Width_Difference */
    line-height: 1.15;
    letter-spacing: -.02em;
  }
  h2{/*SecondaryTitle*/
    @include font("Montserrat", 300);
    font-size: calc(1.0625rem + ((1vw - 3.2px) * 0.5357));
   /* Where: * 0.5357 = 100 * font_Size_Difference / viewport_Width_Difference */
    line-height: 1.15;
    letter-spacing: -.02em;
  }
  h3{/*CategoryTitle*/
    @include font("Montserrat", 500);
    font-size: calc(0.75rem + ((1vw - 4.8px) * 0.2778));
    /* Where: * 0.3571 = 100 * font_Size_Difference / viewport_Width_Difference */
    color: rgba(0, 0, 0, 0.24);
    line-height: 1.15;
    letter-spacing: -.02em;
    text-transform: uppercase;
  }
  p{
    @include font("Montserrat", 300);
    font-size: 1em;
    line-height: 1.58;
    letter-spacing: -.003em;
  }
  footer{
    background: none;
    p{
      margin: 0;
      @include font("Montserrat", 300);
      font-size: 0.8em;
    }
    .keywords{
      margin-top: 8px;
      a{
        @include font("Montserrat", 300);
        font-size: 0.7em;
        opacity:0.6;
      }
    }
  }
  img{
    max-width: 100%;
    margin-bottom: 24px;
  }

  ul{
    margin-top: 29px;
    padding: 0;
    list-style: none;
    list-style-image: none;
    li{
      @include font("Crimson Text");
      font-size: 1.2em;
      line-height: 1.58;
      letter-spacing: -.003em;
      margin-left: 30px;
      margin-bottom: 14px;
      &:before {
          padding-top: 4px;
          padding-right: 15px;
          content: "•";
      }
      a{
        text-decoration: none;
        background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 50%);
        background-repeat: repeat-x;
        background-size: 2px .1em;
        background-position: 0 1.07em;
      }
    }
  }
  pre{
    margin-top: 43px;
    background: rgba(0,0,0,.05);
    padding: 20px;
    white-space: pre-wrap;
  }

//DesktopFirst
@include respond-to($desktop) {
  section{
    margin-top: 38px;
    article{
      flex-basis: 85%;
      margin-right: 5%;
    }
    footer{
      flex-basis: 15%;
      color: #999;
    }
  }
}
  //LaptopFirst
  @include respond-to($laptop) {
    section{
      margin-top: 38px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      article{
        flex-basis: 85%;
        margin-right: 5%;
      }
      footer{
        flex-basis: 15%;
        color: #999;
      }
    }
  }

  //TabletFirst
  @include respond-to($tablet) {
    section{
      margin-top: 38px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      article{
        flex-basis: 85%;
        margin-right: 5%;
      }
      footer{
        flex-basis: 15%;
        color: #999;
      }
    }
  }

  //MobileFirst
  @include respond-to($mobile) {
    section{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      article{
        flex-basis: 100%;
        margin-right: 0;
      }
      footer{
        flex-basis: 100%;
        color: #999;
      }
    }
    p{
      @include font("Crimson Text");
      font-size: 1.2em;
      line-height: 1.58;
      letter-spacing: -.003em;
    }
    img{
      max-width: 100%;
      margin-bottom: 5px;
    }
  }

}
