.sideBySideWrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}

.sideBySideItem{
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .sideBySideItemContent{
    position: relative;
  }
}

.sideBySideItemContent{
  padding: 50px 100px 0px 100px;
  h1{
    font-size: 2em;
    @include font("Montserrat");
  }

  @include respond-to($smallHeight) {
    padding: 20px 50px 0px 50px;
    h1{
      font-size: 1.5em;
      @include font("Montserrat");
    }
  }
}
#fronPageRight{
  h3{
    @include font("Montserrat");
    position: absolute;
    width: 100%;
    line-height: 1;
    white-space: nowrap;
    top: -130px;
    left: 205px;
    z-index: 10;
    font-size: 220px;
    font-weight: 600;
    color: white;
  }
  h1{
    position: relative;
    z-index: 20;
  }
  h5{
    a{
      color: white;
    }
  }
  p{
    position: relative;
    z-index: 20;
  }
}
