#pageContainer{
  display: flex;
  flex: 1 0 auto;
  position: relative;
}

#pageContent{
  flex: 2;
  position: relative;
  width: 100%;
}

#pageSidebar{
  flex: 0 0 345px;
  border-left: 1px solid #e4e4e4;
  background: #F2F6FB;
  z-index: 60;
}

#pageSidebarContent{
  position: relative;
  display: flex;
  flex-direction: column;
}

#articleContainer{
  padding: 2em 12em 0;
  margin-top: 88px;
}

article{
  margin-bottom: 110px;
  h3{
    color: rgba(0, 0, 0, 0.44);
    font-size: 0.9em;
  }
  h1{
    font-size: 2em;
    @include font("Montserrat", 600);
  }
  h2{
    @include font("Montserrat", 300);
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.44);
  }
  header{
    margin-bottom: 24px;
  }
  img{
    max-width: 100%;
    margin-bottom: 24px;
  }
  p{
    @include font("Crimson Text");
    font-size: 1.2em;
  }
}

#aboutContent{
  position: fixed;
  flex: 1;
  background: white;
  width: inherit;
  padding: 2em 1em 0em;
  height: 300px;
  h3{
    @include font("Montserrat", 600);
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.44);
    width: 50%;
    text-transform: uppercase;
  }
  h2{
    @include font("Montserrat", 600);
    font-size: 1em;
    width: 100%;
  }
  p{
    font-size: 13px;
    width: 65%;
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    opacity:0.3;
  }
}

#videoContent{
  position: relative;
  top: 300px;
  padding: 20px;
  input{
    width: 100%;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .videoThumbnail{
        margin-right: 5px;
        img{
          width: 130px;
        }
      }
      .videoInfo{
        h4{
          font-size: 0.8em;
          line-height: 1.3em;
        }
      }
    }
  }
}

//DesktopFirst
@include respond-to($desktop) {

}

//LaptopFirst
@include respond-to($laptop) {
  #articleContainer{
    padding: 2em 8em 0;
    margin-top: 88px;
  }
}

//TabletFirst
@include respond-to($tablet) {
  #articleContainer{
    padding: 2em 3em 0;
    margin-top: 88px;
  }
}

//MobileFirst
@include respond-to($mobile) {
  #pageContainer{
    flex-direction: column;
    padding: 2em;
  }

  #articleContainer{
    padding: 0;
    margin: 0;
  }

  #pageSidebar{
    border: none;
    background:white;
  }

  #aboutContent{
    position: relative;
    padding: 0;
    img{
      z-index: 1;
    }
  }
}
