#postLinkWrapper{
  flex: 0 0 340px;
  position: relative;
  background: $brandColorLight;
  @include respond-to($simpleRead) {
    flex: 1;
  }
}
#blogPostList{
  margin: 0;
  padding: 20px 0px 0px 20px;
  width: 80%;
  list-style: none;
  @include respond-to($simpleRead) {
    padding: 20px 0px 0px 55px;
  }
  @include respond-to($mobile) {
    width: 95%;
  }
  &:after{
  	position: absolute;
  	content: "";
  	top: 0px;
  	left: 25px;
  	border-left: solid 2px $brandColorDark;
  	height: 100%;
  }
  li{
    margin-bottom: 40px;
    a{
      color: white;
      section{
        h4{
          position: relative;
          @include font("Montserrat");
          font-size: 1em;
          &:before{
            position: absolute;
            content: "";
            top: 10px;
            left: -34px;
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background: $brandColorDark;
            box-shadow: 0 0 0 2px $brandColorLight;
            z-index: 20;
          }
        }
        img{
          margin-bottom: 10px;
        }
        p{
          @include font("Open Sans");
          color: rgba(255,255,255,.70);
          font-size: .8em;
          line-height: 1.5em;
          margin-bottom: 5px;
        }
        .linkDetails{
        	display: flex;
        	align-items: center;
        	align-content: center;
        	opacity: 0.8;
          @include font("Montserrat");
        	h6{
        		position: relative;
        		margin: 0;
        		padding-right: 10px;
        		color: white;
            font-size: 0.7em;
        	}
        	span{
        		color: white;
        		line-height: 0;
        		padding-right: 10px;
        	}
        	time{
        		align-self: flex-end;
        		margin: 0;
        		padding-right: 10px;
        		color: white;
        		font-size: 0.67em;
        		font-weight: 400;
        	}
        }
      }
      &.active{
        section{
          h4{
            &:before{
  						position: absolute;
  						content: "";
  						top: 10px;
  						left: -34px;
  						width: 10px;
  						height: 10px;
  						border-radius: 50px;
  						background: $brandColorActive;
  						box-shadow: 0 0 0 2px $brandColorLight;
  						z-index: 20;
					  }
  					&:after{
  						position: absolute;
  						content: "";
  						top: 5px;
  						left: -39px;
  						width: 20px;
  						height: 20px;
  						border-radius: 50px;
  						background: $brandColorLight;
  						box-shadow: 0 0 0 2px $brandColorDark;
  						z-index: 10;
  					}
  				}
          p{
          }
        }
      }
      &:hover{
        text-decoration: none;
        section{
          h4{
            &:before{
							background: #ffffff;
							z-index: 20;
						}
            &:after{
							position: absolute;
							content: "";
              top: 5px;
  						left: -39px;
							width: 20px;
							height: 20px;
							border-radius: 50px;
							background: $brandColorLight;
							box-shadow: 0 0 0 2px $brandColorDark;
							z-index: 10;
						}
          }
          p{
            color: white;
          }
        }
      }
    }
  }
}
