#sidebarWrapper{
  flex: 0 0 70px;
  padding: 10px;
  position: relative;
  @include font("Montserrat");
  background-color: #005189;
  transition: .2s ease-out all;
  transform: translateX(0%);
  @include respond-to($mobile) {
    display: flex;
    flex: 0;
    flex-direction: column;
  }
  &.open{
    flex: 0 0 250px;
    padding: 20px;
    @include respond-to($tablet) {
      flex: 0 0 70px;
    }
    @include respond-to($mobile) {
      flex: 0;
      height: 60px;
    }
    #aboutSite{
      display: block;
    }
    #siteLinks{
      margin: 50px 0px;
      padding: 30px 0px;
      border-top: solid 1px $brandColorDark;
      border-bottom: solid 1px $brandColorDark;
      a{
        color: white;
        span{
          margin-left: 10px;
          display: inline-block!important;
        }
      }
      li{
        margin-bottom: 16px;
        padding: 0px!important;
        background: none!important;
        border: none!important;
        text-align: left!important;
      }
    }
    #socialMediaLinks{
      flex-direction: row;
      a{
        background: none;
        border: none;
      }
    }
  }
  #sidebarHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #brandLogo{
      width: 80%;
      margin: 20px auto;
      border-radius: 100px;
      text-align: center;
      img:not(.png) {
        width: 100%;
      }
      p{
        color: white;
        font-size: 0.4rem;
        text-transform: uppercase;
        cursor: pointer;
        span{

        }
      }
      @include respond-to($mobile) {
        width: 50px;
        margin: 0 auto;
        height: 100%;
        align-self: flex-start;
        margin: 0;
      }
  }
  #mobileNav{
    display: none;
    color: white;
    text-transform: uppercase;
    @include respond-to($mobile) {
      display: block;
    }
  }
  #sidebarContent{
    display: flex;
    flex-direction: column;
    flex: 0 0 0px;
    width: 100%;
    color: white;
    font-size: 0.7em;
    transition: .2s ease-out all;
    transform: translateX(0%);
    &.open{
      flex: 0 0 365px;
      @include respond-to($mobile) {
        flex: 0 0 315px;
      }
      #aboutSite{
        display: block;
      }
      #socialMediaLinks{
        flex-direction: row;
        a{
          background: none;
          border: none;
        }
      }
      #siteLinks{
        margin: 50px 0px;
        padding: 30px 0px;
        border-top: solid 1px $brandColorDark;
        border-bottom: solid 1px $brandColorDark;
        @include respond-to($mobile) {
          margin: 30px 0px 0px 0px;
          padding: 10px 0px 0px 0px;
        }
        a{
          color: white;
          span{
            display: inline-block!important;
          }
        }
        li{
          margin-bottom: 16px;
          padding: 0px!important;
          background: none!important;
          border: none!important;
          text-align: left!important;
        }
      }
    }
    ul{
      margin: 0;
      margin-top: 10px;
      padding: 0;
      li{
        list-style: none;
      }
    }
    #siteLinks{
      margin: 20px 0px;
      margin-top: 5px;
      padding: 20px 0px 0px 0px;
      border-top: solid 1px $brandColorDark;
      border-bottom: solid 1px $brandColorDark;
      a{
        text-transform: uppercase;
        color: white;
        span{
          display: none;
        }
      }
      li{
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        border: solid 1px $brandColorDark;
        background: $brandColorLight;
      }
    }
  }
}
#aboutSite{
  display: none;
  margin-bottom: 30px;
  a{
    color: $brandColorActive;
  }
}
#siteLinks{
  a{
    &:hover{
      li{
        background: $brandColorActive!important;
      }
      i{
        color: white;
      }
    }
  }
}
#socialMediaLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a{
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $brandColorDark;
    background: $brandColorLight;
    &:hover{
      background: $brandColorActive;
      color: white;
    }
  }
}
