 #sidebarWrapper{
  box-sizing: border-box;
  flex: 0 0 70px;
  @include font("Montserrat");
  background-color: #005189;
  transition: .2s ease-out all;
  transform: translateX(0%);
  z-index: 60;
  #sidebarHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #brandLogo{
    width: 80%;
    margin: 20px auto 20px auto;
    border-radius: 100px;
    text-align: center;
  }
  #mobileNav{
    display: none;
    color: white;
    text-transform: uppercase;
  }
  #sidebarContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 0.7em;
    transition: .2s ease-out all;
    transform: translateX(0%);
    ul{
      margin: 0;
      margin-top: 10px;
      padding: 0;
      li{
        list-style: none;
      }
    }
    .siteLinks{
      position: relative;
      margin: 20px 0px;
      margin-top: 5px;
      padding: 20px 0px 0px 0px;
      border-top: solid 1px $brandColorDark;
      a{
        text-transform: uppercase;
        /*
        span{
          position: absolute;
        }
        &:hover{
          span{
            display: inline-block;
            margin-left: 15px;
            width: 150px;
            text-align: left;
          }
        }
        */
      }
      li{
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
      }
      i{
        font-size: 17px;
        color: white!important;
        &:hover{
        }
      }
    }
  }
}

.sidebarContainer{
  padding: 10px 20px;
}

//Tablet to Desktop
@include respond-to($tablet-to-dekstop) {
  #sidebarWrapper{
    position: fixed;
    width: 70px;
    height: 100%;
  }
  #sidebarContent{
    .siteLinks{
      a{
        span{
          position: absolute;
          display: inline-block;
          opacity:0;
          transform: translateX(0px);
          color: white;
          z-index: 20;
          transition: all 0.15s ease-in-out;
        }
        &:hover{
          span{
            display: inline-block;
            margin-left: 15px;
            width: 150px;
            opacity:1;
            text-align: left;
            transform: translateX(40px);
          }
        }
      }
    }
  }
}

//DesktopFirst
@include respond-to($desktop) {
  #brandLogo{
    img:not(.png) {
      width: 70%;
    }
  }
}

//LaptopFirst
@include respond-to($laptop) {

  #brandLogo{
    img:not(.png) {
      width: 70%;
    }
  }

}

//TabletFirst
@include respond-to($tablet) {
  #brandLogo{
    img:not(.png) {
      width: 70%;
    }
  }
  #sidebarWrapper{
    &.open{
      flex: 0 0 70px;
    }
  }
}

//MobileFirst
@include respond-to($mobile) {
  #sidebarWrapper{
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    #sidebarHeading{
      padding: 10px 20px;
    }
    #brandLogo{
      width: 50px;
      margin: 0 auto;
      height: 100%;
      align-self: flex-start;
      margin: 0;
      p{
        display: none;
      }
    }
    #mobileNav{
      display: block;
    }
    #sidebarContent{
      display: none;
      &.open{
        display: block;
        flex: 0 0 100%;
        .siteLinks{
          margin: 0px 30px;
          padding: 10px;
        }
        #siteLinks{
          border-top: solid 1px $brandColorDark;
          border-bottom: solid 1px $brandColorDark;
          a{
            color: white;
            span{
              opacity:1;
              display: inline-block;
              margin-left: 15px;
            }
          }
          li{
            margin: 15px 0px;
            padding: 0px;
            background: none;
            border: none;
            text-align: left;
          }
        }
        #socialMediaLinks{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          a{
            background: none;
            border: none;
          }
          li{
            margin: 0;
          }
        }
      }
    }
  }
}
