#topBar{
  display: flex;
  align-items: center;
  width: inherit;
  height: 86px;
  padding-left: 100px;
  padding-right: 30px;
  border-bottom: 1px solid #F3F3F3;
  #pageNameHeading{
    font-size: 1rem;
    @include font("Montserrat", 800);
    width: 845px;
    text-transform: uppercase;
    margin: 0 auto;
  }
}

//DesktopFirst
@include respond-to($desktop) {
  #topBar{
    position: relative;
    width: inherit;
    background: white;
    z-index: 50;
  }
}

//LaptopFirst
@include respond-to($laptop) {
  #topBar{
    position: fixed;
    background: white;
    z-index: 50;
  }
}

//TabletFirst
@include respond-to($tablet) {
  #topBar{

  }
}

//MobileFirst
@include respond-to($mobile) {
  #topBar{
    position: relative;
    display: block;
    height: auto;
    margin-top: 15px;
    padding: 0 0 10px 0px;
    text-align: center;
    margin-bottom: 30px;
  }
}
