#topBar{
  display: flex;
  align-items: center;
  width: inherit;
  height: 86px;
  padding: 0em 12em 0;
  border-bottom: 1px solid #F3F3F3;
  h1{
    font-size: 1.5em;
    @include font("Montserrat", 800);
    margin: 0;
    text-transform: uppercase;
  }
}

//DesktopFirst
@include respond-to($desktop) {
  #topBar{
    position: fixed;
    width: inherit;
    background: white;
    z-index: 50;
  }
}

//LaptopFirst
@include respond-to($laptop) {
  #topBar{
    position: fixed;
    background: white;
    z-index: 50;
  }
}

//TabletFirst
@include respond-to($tablet) {
  #topBar{
    display: none;
  }
}

//MobileFirst
@include respond-to($mobile) {

}
