// Varialbes
$whiteText        : #e5e5e5;
$blackText        : #222;
$brandColorLight  : #05477c;
$brandColorDark   : #065b9f;
$brandColorActive : #6EC4E9;

$whiteText: #e5e5e5;
$blackText: #222;
$brandColorActive: #6EC4E9;

$html5: 					#f16529 !default;
$css3: 						#33a9dc !default;
$globe: 					#6ecd56 !default;
$javascript: 			#f7df1e !default;

.fa-html5, .html5{
	color: $html5;
}
.fa-css3, .css3{
	color: $css3;
}
.fa-globe, .globe{
	color: $globe;
}
.fa-code, .javascript{
	color: $javascript;
}

// Imports

// inject:vendor
@import "src/sass/vendor/_media-queries.scss";
@import "src/sass/vendor/font-awesome.min.scss";
@import "src/sass/vendor/scrollpane.scss";
@import "src/sass/vendor/bootstrap/variables.scss";
// endinject

// bower:scss
@import "../../build/bower_components/bootstrap/scss/bootstrap.scss";
// endbower

// inject:app
@import "src/sass/bem/_fonts.scss";
@import "src/sass/bem/_blocks/_blogPost.scss";
@import "src/sass/bem/_blocks/_footer.scss";
@import "src/sass/bem/_blocks/_front-page.scss";
@import "src/sass/bem/_blocks/_header.scss";
@import "src/sass/bem/_blocks/_panel-scroll.scss";
@import "src/sass/bem/_blocks/_postlinknav.scss";
@import "src/sass/bem/_blocks/_sidebar.scss";
@import "src/sass/bem/_blocks/_singlePage.scss";
@import "src/sass/bem/_blocks/_social-elements.scss";
// endinject

//Base
*{
	box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box
}

body{
	height: 100%;
  @include font("Open sans");
	-webkit-font-smoothing: subpixel-antialiased;
}

#siteWrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#siteContainer{
	display: flex;
  flex: 1;
}

#mainWrapper{
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: auto;
	height: auto;
	margin: 0 auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	//background-image: url('../img/main-bg.jpg');
	background-size: cover;
}

.contentWrapper{
	margin: 20px 100px;
	h1{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	p{
		line-height: 2em;
	}
}

//DesktopFirst
@include respond-to($desktop) {
	#siteContainer{
		overflow: hidden;
		height: 100vh;
		margin-top: -100px;
		padding-top: 100px;
		position: relative;
		width: 100%;
		backface-visibility: hidden;
		will-change: overflow;
	}
}

//LaptopFirst
@include respond-to($laptop) {
	.mainContainer{
		flex-direction: column;
	}
}

//TabletFirst
@include respond-to($tablet) {
	.mainContainer{
		flex-direction: column;
	}
}

//MobileFirst
@include respond-to($mobile) {
	#siteContainer{
		flex-direction: column;
	}
}


// Include google fonts
@include import-google-fonts();
