{% extends "includes/base.html" %}

{% block content %}
<div class="content">
  <h1>Moi, olen Andreas ja tämä tässä on Digikokki sivustoni.</h1>
  <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
  Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
  mutta näytän hieman javascript ohjelmointia.</p>

  <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
  Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
  mutta näytän hieman javascript ohjelmointia.</p>

  <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
  Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
  mutta näytän hieman javascript ohjelmointia.</p>

  <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
  Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
  mutta näytän hieman javascript ohjelmointia.</p>

  <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
  Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
  mutta näytän hieman javascript ohjelmointia.</p>

  <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
  Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
  mutta näytän hieman javascript ohjelmointia.</p>
</div>
{% endblock %}
