{% extends "includes/base.html" %}

{% block content %}
<div class="sideBySideWrapper">
  <div class="sideBySideItem" id="fronPageLeft">
    <div class="sideBySideItemContent">
      <h1>Moi, olen Andreas ja tämä tässä on Digikokki sivustoni.</h1>
      <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
      Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
      mutta näytän hieman javascript ohjelmointia.</p>
    </div>
  </div>
  <div class="sideBySideItem" id="fronPageRight">
    <div class="snapScrollMenu">
      <a href="/first" data-panel="first"></a>
      <a href="/second" data-panel="second"></a>
    </div>
    <section class="fullHeightSnapScroll">
    <div class="fullHeightSnapScrollWrapper">
      <section class="fullHeightSnapScrollItem" data-panel="first">
        <div class="sideBySideItemContent">
          <h3>Twitter</h3>
          <h1>Viimeisemmät Twitteristä</h1>
          <h5><a href="https://twitter.com/digikokki" target="_blank">@digikokki</a></h5>
          <div id="tweets"></div>
        </div>
      </section>
      <section class="fullHeightSnapScrollItem" data-panel="second">
        <div class="sideBySideItemContent">
          <h3>Instagram</h3>
          <h1>Viimeisemmät Instat</h1>
          <h5><a href="https://www.instagram.com/digikokki/" target="_blank">@digikokki</a></h5>
          <div id="instafeed"></div>
        </div>
      </section>
    </div>
    </section>
  </div>
</div>
{% endblock %}
