{% extends "includes/base.html" %}

{% block content %}

<div class="pageHeader">
  <div class="pageHeaderOverLay">
    <h3>Tervetuloa</h3>
    <h1>Digikokin sivulle!</h1>
    <h5>Opitaan uutta yhdessä.</h5>
  </div>
  <div class="pageHeaderImage"></div>
</div>

<article class="pageWrapper">
  <div class="pageContainer">
    <h1>Moi, olen Andreas ja tämä tässä on Digikokki sivustoni.</h1>
    <p>Sain 2016 ajatuksen perustaa Youtubeen kanavan jossa opastan koodauksen saloihin. Samalla näyttäisin päivittäistä arkeani ja kiinnostustani IT-alasta.
    Sivulla aihealueet vaihtelevat teknisistä vapaamuotoisiin lifestyle aiheisiin. Pyrin pitämään asiat simppeleinä jotta sinä lukija/katsoja voit oppia esim. koodaamaan HTML sivuja. En varsinaisesti opasta ohjelmointia,
    mutta näytän hieman javascript ohjelmointia.
    </p>
  </div>
  <div class="pageSidebar">
    <h6 class="pageSidebarTitle">Instagram - <a href="https://www.instagram.com/digikokki/" target="_blank">@digikokki</a></h6>
    <div id="instafeed"></div>
    <p>Helvetica tilde sriracha, austin sed hella echo park brunch.  Anim  shoreditch ugh synth, put a bird on it fugiat  adipisicing waistcoat sint  mlkshk tumblr hexagon roof party kitsch vice salvia cold-pressed.</p>
  </div>
</article>


{% endblock %}
