{% block article %}
<div id="articleContainer">
  <article class="articleContainer">
    <i class="fa fa-share-alt shareButton" aria-hidden="true"></i>
    <header>
      <a href=""><h3>Sketch Tutorials</h3></a>
      <a href="/blog-post.html"><h1>A Better Way to Make Buttons in Sketch</h1></a>
      <h2>Buttons like you’ve never seen them before! Probably.</h2>
    </header>
    <a href="#">
      <img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*QCA5_2DW9f3cUoKAP2FgsQ.png" alt="">
    </a>
    <section>
      <article>
        <p>Sketch symbols are great because they provide one central place to manage components. Buttons are some of the easiest components to create, but like text fields, they have a lot of different states, colors, and styles. So it usually means creating a bunch of different symbols.</p>
      </article>
      <footer>
        <p>20.07.2017</p>
        <p>2 Comments</p>
        <p>4 Shares</p>
        <p class="keywords"><a href="#">#arrayitem</a> <a href="#">#arrayitem</a> <a href="#">#arrayitemlongone</a></p>
      </footer>
    </section>
  </article>

  <article class="articleContainer">
    <i class="fa fa-share-alt shareButton" aria-hidden="true"></i>
    <header>
      <h3>Sketch Tutorials</h3>
      <h1>A Better Way to Make Buttons in Sketch</h1>
      <h2>Buttons like you’ve never seen them before! Probably.</h2>
    </header>
    <img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*QCA5_2DW9f3cUoKAP2FgsQ.png" alt="">
    <section>
      <article>
        <p>Sketch symbols are great because they provide one central place to manage components. Buttons are some of the easiest components to create, but like text fields, they have a lot of different states, colors, and styles. So it usually means creating a bunch of different symbols.</p>
      </article>
      <footer>
        <p>20.07.2017</p>
        <p>2 Comments</p>
        <p>4 Shares</p>
        <p class="keywords"><a href="#">#arrayitem</a> <a href="#">#arrayitem</a> <a href="#">#arrayitemlongone</a></p>
      </footer>
    </section>
  </article>

  <article class="articleContainer">
    <header>
      <h3>Sketch Tutorials</h3>
      <h1>A Better Way to Make Buttons in Sketch</h1>
      <h2>Buttons like you’ve never seen them before! Probably.</h2>
    </header>
    <img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*QCA5_2DW9f3cUoKAP2FgsQ.png" alt="">
    <section>
      <article>
        <p>Sketch symbols are great because they provide one central place to manage components. Buttons are some of the easiest components to create, but like text fields, they have a lot of different states, colors, and styles. So it usually means creating a bunch of different symbols.</p>
      </article>
      <footer>
        <p>20.07.2017</p>
        <p>2 Comments</p>
        <p>4 Shares</p>
        <p class="keywords"><a href="#">#arrayitem</a> <a href="#">#arrayitem</a> <a href="#">#arrayitemlongone</a></p>
      </footer>
    </section>
  </article>
</div>
{% endblock %}
