{% block sidebar %}
<div id="aboutSiteWrapper">
  <div id="sidebarHeading">
    <div id="brandLogo">
      <a href="/"><img src="img/digikokki-logo-test.svg"/></a>
    </div>
    <h5>Andreas Koutsoukos</h5>
    <p>Moi, olen Andreas ja tämä tässä on Digikokki sivustoni</p>
    <div id="mobileNav">
      valikko
    </div>
  </div>
  <div id="aboutSiteContent">

  <div id="socialMediaLinks">
    <a href="https://www.youtube.com/digikokki" target="_blank"><i class="fa fa-youtube"></i></a>
    <a href="https://www.facebook.com/digikokki" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/digikokki" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/digikokki/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
</div>
</div>
{% endblock %}
