{% block sidebar %}
<div id="sidebarHeading">
  <div id="brandLogo">
    <a href="/"><img src="img/digikokki-logo-test.svg"/></a>
  </div>
  <div id="mobileNav">
    valikko
  </div>
</div>
<div id="sidebarContent">
  <ul class="siteLinks" id="siteLinks">
    <a href="#"><li><i class="fa fa-globe"></i> <span>Internet</span></li></a>
    <a href="#"><li><i class="fa fa-html5"></i> <span>Html</span></li></a>
    <a href="#"><li><i class="fa fa-css3"></i> <span>Css</span></li></a>
    <a href="#"><li><i class="fa fa-code"></i> <span>Javascript</span></li></a>
    <a href="#"><li><i class="fa fa-cogs"></i> <span>Koodarin työkalut</span></li></a>
  </ul>
  <ul class="siteLinks" id="socialMediaLinks">
    <a href="https://www.youtube.com/digikokki" target="_blank"><li><i class="fa fa-youtube"></i></li></a>
    <a href="https://www.facebook.com/digikokki" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
    <a href="https://twitter.com/digikokki" target="_blank"><li><i class="fa fa-twitter"></i></li></a>
    <a href="https://www.instagram.com/digikokki/" target="_blank"><li><i class="fa fa-instagram"></i></li></a>
  </ul>
</div>
{% endblock %}
